@page "/"
    <div class="container">

        <img src="images/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">



    </div>
<div></div>
    <div class="container well">
        <h1>Hello, I'm Carlos Bautista test!</h1>

        <p>
            I'm a future Devops/Problem Solver Engineer based in California. I consider myself as a versatile thinkier, able to adapt to all sorts of constraints, languages and technologies. I build complete products, from web backends, and love doing it. Don't hesitate to get in touch !
        </p>
        <div>
            <p>
                I'm a Devops/Problem  based in Calironia. I went to CalPoly University, but most of what I learned came from personal and entrepreneurial projects. I enjoy building apps, platforms, APIs and everything in between. I'm driven by a strong entrepreneurial spirit, making me always want to build new things and see them grow. When confronted with a challenge, may it be technical or not, I never give up until I found the solution. This might be what describes me best in my daily work
            </p>

        </div>

    </div>

    <SurveyPrompt Title="How is Blazor working for you?" />
